// variables
$main-font: "Montserrat", sans-serif;
$navbar-font:"Bebas Neue", cursive;
$secondary-font: "Roboto Slab", serif;
$cent: space-between;
$button-font: 29px;
$button-color:#5a5a5a;
$button-color-hover:#082b59;
